# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
backend/.env

# Database
*.db
*.sqlite3

# Node
node_modules/
frontend/node_modules/

# Build
frontend/dist/

# OS
.DS_Store
Thumbs.db

__pycache__/
*.pyc